In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

c:\Users\USER\anaconda3\envs\mltest\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
df = pd.read_csv(r'C:\Users\USER\Desktop\Modcode\ML_Live-_Class\data\advertising.csv')

In [7]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [8]:
X =df.drop('Sales',axis=1)

In [9]:
Y = df['Sales']

In [10]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=101)

In [13]:
#use z-score to scale data
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(X_train)  #scaling fitting is done only on training data

StandardScaler()

In [16]:
#transformation is done in order to assign the results from zscore scaling
X_train = scaler.transform(X_train)

In [17]:
X_test = scaler.transform(X_test)

In [18]:
from sklearn.linear_model import Ridge

In [19]:
model = Ridge(alpha=100)
# alpha parameter is important as it helps to control regularization

In [20]:
model.fit(X_train,Y_train)

Ridge(alpha=100)

In [21]:
y_pred = model.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
MSE = mean_squared_error(Y_test, y_pred)
MSE

6.81366220966776

In [24]:
RMSE = np.sqrt(MSE)
RMSE

2.610299256726661

In [25]:
model2 = Ridge(alpha=1)

In [26]:
model2.fit(X_train, Y_train)

Ridge(alpha=1)

In [27]:
pred_y = model2.predict(X_test)

In [28]:
MSE2 = mean_squared_error(Y_test, pred_y)
MSE2

2.8554378608814437

In [29]:
RMSE2 = np.sqrt(MSE2)
RMSE2

1.6898040894971949

In [30]:
# TRYING TO DO CROSS VALIDATION MANUALLY ITHOUT THE HELP OF CROSS-VAL-

X_train, X_other, Y_train, Y_other = train_test_split(X, Y, test_size=0.3, random_state=101)

In [31]:
# then split the 30% into 50% of other data
X_eval, X_test, Y_eval, Y_test = train_test_split(X_other, Y_other, test_size=0.5, random_state=101)

In [32]:
len(X_eval)
len(X_test)

30

In [33]:
X_train = scaler.transform(X_train)

In [34]:
X_eval= scaler.transform(X_eval)  # validation data

In [35]:
X_test = scaler.transform(X_test)

In [36]:
model3 = Ridge(alpha = 100)

In [37]:
model3.fit(X_train,Y_train)

Ridge(alpha=100)

In [38]:
y_pred_eval = model3.predict(X_eval)

In [39]:
MSE3 = mean_squared_error(y_pred_eval, Y_eval)
MSE3

7.307167964801232

In [40]:
model4 = Ridge(alpha = 1)

In [41]:
model4.fit(X_train,Y_train)

Ridge(alpha=1)

In [42]:
y_pred_eval4 = model4.predict(X_eval)

In [43]:
MSE4 = mean_squared_error(y_pred_eval4, Y_eval)
MSE4

3.0311062171302194

In [44]:
RMSE4 = np.sqrt(MSE4)
RMSE4

1.7410072421245752

In [45]:
y_final = model4.predict(X_test)

In [46]:
MSE5 = mean_squared_error(y_final, Y_test)
MSE5

2.679769504632666

In [47]:
RMSE5 = np.sqrt(MSE5)    # for traning testing validation case
RMSE5

1.6370001541333667

In [48]:
##CODE IMPLEMENTATION
# For code implementation imagine that all you have done is
# create X and Y , train-test-split, and scale your data
# scaling; fit training data, transform training and test data.

In [50]:
model = Ridge(alpha=100)

In [49]:
from sklearn.model_selection import cross_val_score

In [51]:
scores = cross_val_score(model, X_train, Y_train, scoring='neg_mean_squared_error', cv=5)

In [52]:
scores

array([-10.30932408,  -4.93817737, -10.07075886,  -8.82851134,
        -7.94465515])

In [53]:
abs(scores.mean())

8.418285357914199

In [54]:
mode6 = Ridge(alpha=1)

In [56]:
scores2 = cross_val_score(mode6, X_train, Y_train, scoring='neg_mean_squared_error', cv=5)
scores2

array([-3.77037806, -0.9534648 , -4.55448383, -2.28781819, -2.41358744])

In [57]:
abs(scores2.mean())

2.7959464646044743

In [58]:
mode6.fit(X_train, Y_train)

Ridge(alpha=1)

In [59]:
y_again = mode6.predict(X_test)

In [60]:
MSE6 = mean_squared_error(y_again, Y_test)
MSE6

2.679769504632666

In [ ]:
##CODE IMPLEMENTATION  cross validate
# For code implementation imagine that all you have done is
# create X and Y , train-test-split, and scale your data
# scaling; fit training data, transform training and test data.

In [61]:
from sklearn.model_selection import cross_validate

In [62]:
model = Ridge(alpha=100)

In [65]:
scores = cross_validate(model,X_train,Y_train, scoring =['neg_mean_squared_error','neg_mean_absolute_error'], cv=5)

In [67]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002996,0.000999,-10.309324,-2.639288
1,0.001999,0.001999,-4.938177,-1.854095
2,0.001999,0.000999,-10.070759,-2.305223
3,0.001998,0.001001,-8.828511,-2.493474
4,0.000999,0.000999,-7.944655,-2.156907

In [68]:
scores.mean()

fit_time                        0.001998
score_time                      0.001199
test_neg_mean_squared_error    -8.418285
test_neg_mean_absolute_error   -2.289798
dtype: float64

In [69]:
model2 = Ridge(alpha=1)

In [70]:
scores2 = cross_validate(model2,X_train,Y_train, scoring =['neg_mean_squared_error','neg_mean_absolute_error'], cv=10)
scores2

{'fit_time': array([0.00199962, 0.00299907, 0.00199819, 0.00099945, 0.0019989 ,
        0.00199866, 0.00199962, 0.00199819, 0.00199962, 0.00199795]),
 'score_time': array([0.00199819, 0.00099874, 0.00100064, 0.00099945, 0.00199866,
        0.00199771, 0.00099874, 0.00099945, 0.00299859, 0.00099993]),
 'test_neg_mean_squared_error': array([-3.02991681, -4.42586394, -0.44421385, -1.32078483, -2.32924394,
        -7.369311  , -2.28250744, -2.40040874, -3.08212435, -1.57719045]),
 'test_neg_mean_absolute_error': array([-1.30463013, -1.60669806, -0.60552148, -0.99064582, -1.15013641,
        -1.80554984, -1.18441501, -1.23593123, -1.30283362, -1.05383501])}

In [71]:
scores2=pd.DataFrame(scores2)
scores2

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002000,0.001998,-3.029917,-1.304630
1,0.002999,0.000999,-4.425864,-1.606698
2,0.001998,0.001001,-0.444214,-0.605521
3,0.000999,0.000999,-1.320785,-0.990646
4,0.001999,0.001999,-2.329244,-1.150136
5,0.001999,0.001998,-7.369311,-1.805550
6,0.002000,0.000999,-2.282507,-1.184415
7,0.001998,0.000999,-2.400409,-1.235931
8,0.002000,0.002999,-3.082124,-1.302834
9,0.001998,0.001000,-1.577190,-1.053835

In [72]:
scores2.mean()

fit_time                        0.001999
score_time                      0.001499
test_neg_mean_squared_error    -2.826157
test_neg_mean_absolute_error   -1.224020
dtype: float64

In [74]:
model = Ridge(alpha=1)

In [75]:
model.fit(X_train, Y_train)

Ridge(alpha=1)

In [76]:
prediction = model.predict(X_test)

In [77]:
MSEE = mean_squared_error(prediction, Y_test)
MSEE

2.679769504632666

In [ ]:
##CODE IMPLEMENTATION  grid search CV
# For code implementation imagine that all you have done is
# create X and Y , train-test-split, and scale your data
# scaling; fit training data, transform training and test data.

In [78]:
from sklearn.linear_model import ElasticNet

In [79]:
base_elastic_model = ElasticNet()

In [80]:
para_grid = {'alpha': [0.1,1,5,10,100], 'l1_ratio': [0.1,0.5,0.7,0.9,1]}

In [81]:
from sklearn.model_selection import GridSearchCV

In [82]:
grid_model = GridSearchCV(estimator= base_elastic_model, param_grid=para_grid, scoring='neg_mean_squared_error', cv=5, verbose=3)

In [83]:
grid_model.fit(X_train, Y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-4.131 total time=   0.7s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-0.812 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-4.849 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-2.528 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-2.614 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-4.018 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-0.781 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-4.707 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-2.424 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-2.514 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-3.971 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-0.777 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-4.644 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-2.384 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-2.477 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-3.931 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-0.781 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-4.587 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-2.352 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-2.451 total time=   0.0s
[CV 1/5] END ............alpha=0.1, l1_ratio=1;, score=-3.914 total time=   0.0s
[CV 2/5] END ............alpha=0.1, l1_ratio=1;, score=-0.787 total time=   0.0s
[CV 3/5] END ............alpha=0.1, l1_ratio=1;, score=-4.562 total time=   0.0s
[CV 4/5] END ............alpha=0.1, l1_ratio=1;, score=-2.340 total time=   0.0s
[CV 5/5] END ............alpha=0.1, l1_ratio=1;, score=-2.443 total time=   0.0s
[CV 1/5] END ...........alpha=1, l1_ratio=0.1;, score=-10.802 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.1;, score=-5.277 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.1;, score=-10.443 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.1;, score=-9.248 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.1;, score=-8.165 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.5;, score=-9.518 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.5;, score=-4.031 total time=   0.0s
[CV 3/5] END ............alpha=1, l1_ratio=0.5;, score=-9.012 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.5;, score=-7.507 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.5;, score=-6.195 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.7;, score=-8.708 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.7;, score=-3.260 total time=   0.0s
[CV 3/5] END ............alpha=1, l1_ratio=0.7;, score=-8.080 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.7;, score=-6.486 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.7;, score=-5.092 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.9;, score=-7.857 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.9;, score=-2.429 total time=   0.0s
[CV 3/5] END ............alpha=1, l1_ratio=0.9;, score=-7.049 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.9;, score=-5.334 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.9;, score=-3.924 total time=   0.0s
[CV 1/5] END ..............alpha=1, l1_ratio=1;, score=-7.461 total time=   0.0s
[CV 2/5] END ..............alpha=1, l1_ratio=1;, score=-2.022 total time=   0.0s
[CV 3/5] END ..............alpha=1, l1_ratio=1;, score=-6.529 total time=   0.0s
[CV 4/5] END ..............alpha=1, l1_ratio=1;, score=-4.736 total time=   0.0s
[CV 5/5] END ..............alpha=1, l1_ratio=1;, score=-3.394 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.1;, score=-24.029 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.1;, score=-16.308 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.1;, score=-21.865 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.1;, score=-22.767 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.1;, score=-18.998 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.5;, score=-26.345 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.5;, score=-18.203 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.5;, score=-23.650 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.5;, score=-25.179 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.5;, score=-20.102 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.7;, score=-27.632 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.7;, score=-19.253 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.7;, score=-24.764 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.7;, score=-26.718 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.7;, score=-21.494 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.9;, score=-30.795 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.9;, score=-21.811 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.9;, score=-27.478 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.9;, score=-30.547 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.9;, score=-25.040 total time=   0.0s
[CV 1/5] END .............alpha=5, l1_ratio=1;, score=-32.096 total time=   0.0s
[CV 2/5] END .............alpha=5, l1_ratio=1;, score=-23.579 total time=   0.0s
[CV 3/5] END .............alpha=5, l1_ratio=1;, score=-29.267 total time=   0.0s
[CV 4/5] END .............alpha=5, l1_ratio=1;, score=-31.183 total time=   0.0s
[CV 5/5] END .............alpha=5, l1_ratio=1;, score=-26.101 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.1;, score=-28.266 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.1;, score=-20.026 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.1;, score=-25.608 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.1;, score=-27.129 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.1;, score=-22.484 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.5;, score=-32.096 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.5;, score=-23.579 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.5;, score=-29.267 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.183 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.5;, score=-26.101 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.7;, score=-32.096 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.7;, score=-23.579 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.7;, score=-29.267 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.183 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.7;, score=-26.101 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.9;, score=-32.096 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.9;, score=-23.579 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.9;, score=-29.267 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.9;, score=-31.183 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.9;, score=-26.101 total time=   0.0s
[CV 1/5] END ............alpha=10, l1_ratio=1;, score=-32.096 total time=   0.0s
[CV 2/5] END ............alpha=10, l1_ratio=1;, score=-23.579 total time=   0.0s
[CV 3/5] END ............alpha=10, l1_ratio=1;, score=-29.267 total time=   0.0s
[CV 4/5] END ............alpha=10, l1_ratio=1;, score=-31.183 total time=   0.0s
[CV 5/5] END ............alpha=10, l1_ratio=1;, score=-26.101 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.1;, score=-32.096 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.1;, score=-23.579 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.1;, score=-29.267 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.1;, score=-31.183 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.1;, score=-26.101 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.5;, score=-32.096 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.5;, score=-23.579 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.5;, score=-29.267 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.5;, score=-31.183 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.5;, score=-26.101 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.7;, score=-32.096 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.7;, score=-23.579 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.7;, score=-29.267 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.7;, score=-31.183 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.7;, score=-26.101 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.9;, score=-32.096 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.9;, score=-23.579 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.9;, score=-29.267 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.9;, score=-31.183 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.9;, score=-26.101 total time=   0.0s
[CV 1/5] END ...........alpha=100, l1_ratio=1;, score=-32.096 total time=   0.0s
[CV 2/5] END ...........alpha=100, l1_ratio=1;, score=-23.579 total time=   0.0s
[CV 3/5] END ...........alpha=100, l1_ratio=1;, score=-29.267 total time=   0.0s
[CV 4/5] END ...........alpha=100, l1_ratio=1;, score=-31.183 total time=   0.0s
[CV 5/5] END ...........alpha=100, l1_ratio=1;, score=-26.101 total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 1]},
             scoring='neg_mean_squared_error', verbose=3)

In [84]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [85]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [88]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.151680,0.300362,0.001200,0.000400,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-4.131482,-0.811910,-4.849386,-2.528035,-2.614127,-2.986988,1.404209,5
1,0.001599,0.000490,0.001199,0.000400,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-4.018442,-0.781203,-4.706719,-2.424489,-2.514059,-2.888982,1.369591,4
2,0.004797,0.006141,0.000799,0.000399,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.971075,-0.776942,-4.643757,-2.383816,-2.477331,-2.850584,1.351159,3
3,0.002199,0.001166,0.002399,0.003321,0.1,0.9,"{'alpha': 0.1, 'l1_ratio': 0.9}",-3.930936,-0.781241,-4.587436,-2.351895,-2.451265,-2.820555,1.331888,2
4,0.001799,0.001166,0.001000,0.000632,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.913879,-0.786910,-4.562050,-2.339577,-2.442718,-2.809027,1.321916,1

In [89]:
y_pre = grid_model.predict(X_test)

In [90]:
mean_squared_error(y_pre, Y_test)

2.6060323639618455

:

In [ ]:
df.shape