In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv(r'C:\Users\USER\Desktop\Modcode\ML_Live-_Class\data\advertising.csv')

In [7]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [8]:
X =df.drop('Sales',axis=1)

In [9]:
Y = df['Sales']

In [10]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=101)

In [13]:
#use z-score to scale data
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(X_train)  #scaling fitting is done only on training data

StandardScaler()

In [16]:
#transformation is done in order to assign the results from zscore scaling
X_train = scaler.transform(X_train)

In [17]:
X_test = scaler.transform(X_test)

In [23]:
from sklearn.linear_model import Ridge

In [25]:
model = Ridge(alpha=100)
# alpha parameter is important as it helps to control regularization

In [26]:
model.fit(X_train,Y_train)

Ridge(alpha=100)

In [27]:
y_pred = model.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
MSE = mean_squared_error(Y_test, y_pred)
MSE

6.81366220966776

In [31]:
RMSE = np.sqrt(MSE)
RMSE

2.610299256726661

In [32]:
model2 = Ridge(alpha=1)

In [33]:
model2.fit(X_train, Y_train)

Ridge(alpha=1)

In [36]:
pred_y = model2.predict(X_test)

In [37]:
MSE2 = mean_squared_error(Y_test, pred_y)
MSE2

2.8554378608814437

In [38]:
RMSE2 = np.sqrt(MSE2)
RMSE2

1.6898040894971949

In [39]:
# TRYING TO DO CROSS VALIDATION MANUALLY ITHOUT THE HELP OF CROSS-VAL-

X_train, X_other, Y_train, Y_other = train_test_split(X, Y, test_size=0.3, random_state=101)

In [40]:
# then split the 30% into 50% of other data
X_eval, X_test, Y_eval, Y_test = train_test_split(X_other, Y_other, test_size=0.5, random_state=101)

In [42]:
len(X_eval)
len(X_test)

30

In [43]:
X_train = scaler.transform(X_train)

In [44]:
X_eval= scaler.transform(X_eval)  # validation data

In [45]:
X_test = scaler.transform(X_test)

In [47]:
model3 = Ridge(alpha = 100)

In [49]:
model3.fit(X_train,Y_train)

Ridge(alpha=100)

In [51]:
y_pred_eval = model3.predict(X_eval)

In [52]:
MSE3 = mean_squared_error(y_pred_eval, Y_eval)
MSE3

7.307167964801232

In [53]:
model4 = Ridge(alpha = 1)

In [55]:
model4.fit(X_train,Y_train)

Ridge(alpha=1)

In [56]:
y_pred_eval4 = model4.predict(X_eval)

In [57]:
MSE4 = mean_squared_error(y_pred_eval4, Y_eval)
MSE4

3.0311062171302194

In [58]:
RMSE4 = np.sqrt(MSE4)
RMSE4

1.7410072421245752

In [59]:
y_final = model4.predict(X_test)

In [60]:
MSE5 = mean_squared_error(y_final, Y_test)
MSE5

2.679769504632666

In [61]:
RMSE5 = np.sqrt(MSE5)    # for traning testing validation case
RMSE5

1.6370001541333667